body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: url(../img/galaxia\ css.jpg);
  }
    
 

  #coluna{
    flex-direction: column;
    margin: 0px;
  }
  
  .logo {
    width: 125px;
    height: 125px;
    background-color: red; /* Instituto Federal red color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    animation: pulse 1s infinite alternate;
    animation: fade-in 2s ease-out;

  }
  
  .Logo2{
    width: 125px;
    height: 125px;
    background-color: green; /* Instituto Federal green color */
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    animation: pulse 1s infinite alternate;
    animation: fade-in 2s ease-out;
    
  }
  .Logo3{
    width: 125px;
    height: 125px;
    background-color: green; /* Instituto Federal green color */
    border-radius: 25%;
    display: block;
    align-items: left;
    justify-content: left;
    margin: 15px;
    animation: pulse 1s infinite alternate;
    animation: fade-in 2s ease-out;
    
  }

  .Logo4{
    width: 125px;
    height: 125px;
    background-color: green; /* Instituto Federal green color */
    border-radius: 25%;
    display: block;
    align-items: left;
    justify-content: left;
    margin: 15px;
    animation: pulse 1s infinite alternate;
    animation: fade-in 2s ease-out;
    
  }

  #coluna2{
    flex-direction: column;
    margin: 0px
  }
 
  .Logo13{
    border-radius: 25%;
    display: block;
    align-items: left;
    justify-content: left;
    margin: 15px;
    }

.Logo5{
    width: 125px;
    height: 125px;
    background-color: green; /* Instituto Federal green color */
    border-radius: 25%;
    display: block;
    align-items: left;
    justify-content: left;
    margin: 15px;
    animation: pulse 1s infinite alternate;
    animation: fade-in 2s ease-out;
    
  }
  .Logo6{
    width: 125px;
    height: 125px;
    background-color: green; /* Instituto Federal green color */
    border-radius: 25%;
    display: block;
    align-items: left;
    justify-content: left;
    margin: 15px;
    animation: pulse 1s infinite alternate;
    animation: fade-in 2s ease-out;
  
  }
  .Logo7{
    width: 125px;
    height: 125px;
    background-color: green; /* Instituto Federal green color */
    border-radius: 25%;
    display: block;
    align-items: left;
    justify-content: left;
    margin: 15px;
    animation: pulse 1s infinite alternate;
    animation: fade-in 2s ease-out;
    
  }
  .Logo8{
    width: 125px;
    height: 125px;
    background-color: green; /* Instituto Federal green color */
    border-radius: 25%;
    display: block;
    align-items: left;
    justify-content: left;
    margin: 15px;
    animation: pulse 1s infinite alternate;
    animation: fade-in 2s ease-out;
    
  }
  #coluna3{
    flex-direction: column;
    margin: 0px;
  }
  .Logo9{
    width: 125px;
    height: 125px;
    background-color: green; /* Instituto Federal green color */
    border-radius: 25%;
    display: block;
    align-items: left;
    justify-content: left;
    margin: 15px;
    animation: pulse 1s infinite alternate;
    animation: fade-in 2s ease-out;
    
  }
  .Logo10{
    width: 125px;
    height: 125px;
     /* Instituto Federal whitesmoke color */
    border-radius: 25%;
    display: block;
    align-items: left;
    justify-content: left;
    margin: 15px;
    animation: pulse 1s infinite alternate;
    animation: fade-in 2s ease-out;
    
  }
  .Logo11{
    width: 125px;
    height: 125px;
    background-color: green; /* Instituto Federal green color */
    border-radius: 25%;
    display: block;
    align-items: left;
    justify-content: left;
    margin: 15px;
    animation: pulse 1s infinite alternate;
    animation: fade-in 2s ease-out;
    
  }
  .Logo12{
    width: 125px;
    height: 125px;
     /* Instituto Federal whitesmoke color */
    border-radius: 25%;
    display: block;
    align-items: left;
    justify-content: left;
    margin: 15px;
    animation: pulse 1s infinite alternate;
    animation: fade-in 2s ease-out;
    
  }
  .foguete {
	position: fixed;
	transform-origin: 220px 390px;
  justify-content: inherit;
  align-items: inherit;
  top: 0%;

	animation: foguete 10s linear infinite;
}

@keyframes foguete {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(400deg);
	}
}

@keyframes pulse {
	0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
}
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

